Repository JackWong0303/ds-fullstack-assignment: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npx eslint --fix, cd frontend && npx prettier --write, cd backend && flake8

.lintstagedrc.json:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "cd frontend && npx eslint --fix",
    "cd frontend && npx prettier --write"
  ],
  "backend/**/*.py": [
    "cd backend && flake8"
  ]
}

config: Add initial backend and frontend setup with Docker support
  .gitignore
  backend/Dockerfile
  backend/__init__.py
  backend/main.py
  backend/pytest.ini
  backend/requirements.txt
  backend/tests/__init__.py
  backend/tests/test_health.py
  docker-compose.yml
  frontend/Dockerfile
Due: cd backend && flake8

feat: Implement chat API with text handling and response service
  backend/main.py
  backend/services/__init__.py
  backend/services/response.py
  backend/tests/test_chat.py
  backend/tests/test_response.py
  frontend/Dockerfile
Due: cd backend && flake8

feat: Add chat functionality with message handling, file upload, and auto-scrolling
  frontend/Dockerfile
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-layout.tsx
  frontend/src/components/chat/file-upload.tsx
  frontend/src/components/chat/message-file.tsx
  frontend/src/components/chat/message-image.tsx
  frontend/src/components/chat/message-text.tsx
  frontend/src/components/chat/system-bubble.tsx
  frontend/src/hooks/use-auto-scroll.ts
  package-lock.json
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

feat: Enhance chat UI with Radix components, improve file upload handling, and update Prettier configuration
  frontend/.prettierrc.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-layout.tsx
  frontend/src/components/chat/file-upload.tsx
  frontend/src/components/chat/message-file.tsx
  frontend/src/components/chat/message-image.tsx
  frontend/src/components/chat/message-text.tsx
  frontend/src/components/chat/system-bubble.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-auto-scroll.ts
  package-lock.json
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

feat: Integrate Jest for testing, add chat API, and enhance chat layout with loading state
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package.json
  frontend/src/app/api/chat/route.ts
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/chat/__tests__/chat-layout.test.tsx
  frontend/src/components/chat/chat-layout.tsx
  frontend/src/components/chat/file-upload.tsx
  frontend/src/hooks/use-chat.ts
  package-lock.json
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

feat: Extend chat functionality to support file uploads with validation and response handling
  backend/main.py
  backend/services/response.py
  backend/tests/test_chat.py
  backend/tests/test_response.py
  frontend/src/components/chat/__tests__/chat-layout.test.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-layout.tsx
  frontend/src/components/chat/file-upload.tsx
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write, cd backend && flake8

feat: Add image upload support in chat functionality with metadata extraction and response handling
  backend/main.py
  backend/requirements.txt
  backend/services/image_processor.py
  backend/services/response.py
  backend/tests/test_chat.py
  backend/tests/test_image_processor.py
  frontend/src/components/chat/chat-layout.tsx
  frontend/src/hooks/use-chat.ts
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write, cd backend && flake8

feat: Add framer-motion animations to chat components and integrate animejs for enhanced UI effects
  frontend/package.json
  frontend/src/components/chat/__tests__/chat-layout.test.tsx
  frontend/src/components/chat/chat-layout.tsx
  frontend/src/components/chat/file-upload.tsx
  frontend/src/components/chat/message-file.tsx
  frontend/src/components/chat/message-image.tsx
  frontend/src/components/chat/message-text.tsx
  frontend/src/components/chat/reset-chat-button.tsx
  package-lock.json
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

docs: Add README with project architecture, setup instructions, and message flow diagram
  README.md
  sequence_diagram.png
Due: none

refactor: refactor chat components to utilize new hooks
  frontend/public/bot.svg
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-layout.tsx
  frontend/src/components/chat/file-upload.tsx
  frontend/src/components/chat/message-file.tsx
  frontend/src/components/chat/message-image.tsx
  frontend/src/components/chat/message-text.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/hooks/use-file-upload.ts
  frontend/src/hooks/use-messages.ts
  frontend/src/types/chat.ts
  frontend/src/types/message.ts
  frontend/src/utils/file-utils.ts
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

refactor: modularize handling of text, file, and image inputs
  backend/services/response.py
Due: cd backend && flake8

feat: add BACKEND_URL environment variable to docker-compose for backend service configuration
  docker-compose.yml
Due: none

docs: Update README
  README.md
Due: none

feat: enhance chat endpoint with input validation for text and file uploads
  backend/main.py
  backend/services/response.py
  backend/tests/test_chat.py
  backend/tests/test_response.py
Due: cd backend && flake8

feat: add data-testid attribute to file input for improved testing support
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/file-upload.tsx
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write
